# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str
   
   
## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float
   
   
## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float
   
   
## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int
   
   
## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int
   
   
## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('demo.csv')
df.head(5)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh

In [6]:
df.columns

Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Date of Birth', 'Time of Birth', 'Age in Yrs.',
       'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining',
       'Half of Joining', 'Year of Joining', 'Month of Joining',
       'Month Name of Joining', 'Short Month', 'Day of Joining',
       'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary',
       'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City',
       'State', 'Zip', 'Region', 'User Name', 'Password'],
      dtype='object')

In [12]:
def max_joinings_month(df):
    # Count the occurrences of each month in the "Month of Joining" column
    joinings_by_month = df['Month Name of Joining'].value_counts()

    # Find the month with the maximum count
    max_month = joinings_by_month.idxmax()

    return str(max_month)

In [13]:
max_joining = max_joinings_month(df)
max_joining

'April'

## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float

In [14]:
def mean_ks_salary(df):
    # Filter the DataFrame to include only the rows where the state is "KS"
    data = df[df['State'] == 'KS']

    # Calculate the mean salary of the filtered data
    mean_salary_ks = data['Salary'].mean()

    return mean_salary_ks

In [15]:
mean = mean_ks_salary(df)
mean

104225.45454545454

## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [16]:
def max_mean_salary_region(df):

    region_mean_salary = df.groupby('Region')['Salary'].mean()

    max_salary_region = region_mean_salary.idxmax()

    return max_salary_region

In [17]:
max_mean = max_mean_salary_region(df)
max_mean

'Midwest'

## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [18]:
def min_mean_salary_region(df):
    region_mean_salary = df.groupby('Region')['Salary'].mean()
    min_salary_region = region_mean_salary.idxmin()

    return min_salary_region

In [19]:
min_mean = min_mean_salary_region(df)
min_mean

'West'

## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str

In [20]:
def max_mean_weight_city(df):
    city_mean_weight = df.groupby('City')['Weight in Kgs.'].mean()
    max_weight_city = city_mean_weight.idxmin()

    return max_weight_city

In [21]:
max_mean = max_mean_weight_city(df)
max_mean

'Bloomington'

## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float

In [26]:
def dr_prof_mean_salary_diff(df):
  mean_salary_doc = df[df['Name Prefix'].isin(['Dr.', 'Drs.'])]['Salary'].mean()
  mean_salary_prof = df[df['Name Prefix'].isin(['Prof.', 'Hon.'])]['Salary'].mean()
  mean_diff = abs(mean_salary_doc - mean_salary_prof)

  return mean_diff

In [27]:
mean_salary_dif =  dr_prof_mean_salary_diff(df)
mean_salary_dif

4029.7968588788353

## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int

In [28]:
def females_with_yahoo(df):
    yahoo_users = df[(df['E Mail'].str.contains('@yahoo')) & (df['Gender'] == 'F')]
    return len(yahoo_users)

In [29]:
 females_yahoo =females_with_yahoo(df)
 females_yahoo

69

## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int

In [37]:
def doctors_with_gmail(df):
    gmail_doctors = df[(df['E Mail'].str.contains('@gmail')) & ((df['Name Prefix'] == 'Dr.') | (df['Name Prefix'] == 'Drs.'))]
    return len(gmail_doctors)

In [38]:
 doc_gmail =doctors_with_gmail(df)
 doc_gmail

42

## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [55]:
def youngest_male_password(df):

    male_data = df[df['Gender'] == 'M']
    youngest_male = male_data.loc[male_data['Age in Yrs.'].idxmin()]
    password = youngest_male['Password']

    return password

In [56]:
male_pas = youngest_male_password(df)
male_pas

'xPr\\aGPTQ#v'